<!-- <div class="menu">
    <ul>
      <li><a routerLink="/new-product">+</a></li>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a
        href="javascript:void(0)"
        (click)="navigateToAbout()">About</a></li>
    </ul>
  </div> -->

  <div class="menu">
    <ul>
      <li><a routerLink="/product">+</a></li>
      <li><a routerLink="/loginhome">Home</a></li>
      <li><a href="javascript:void(0)" (click)="navigateto()">About</a></li>
      <li><a routerLink="/product-simple">Products</a></li>
      <li><a routerLink="/movies">Movies</a></li>
      
    </ul>
  </div>