<div class="flex  min-h-screen bg-gray-100">
    <img src="assets/images/film.png" class="hidden lg:block w-1/2 h-[748px]" alt="sdfsf">
    
   <div class="flex flex-col items-center justify-center w-full lg:w-1/2 ">
        <div class="flex flex-col items-center justify-center w-full lg:w-1/2" >
        
         <div id="logo" class="font-serif text-2xl text-left  font-bold lg:text-left h-[91px] left-96  h-[110px] w-[80%] pl-4  "> 
              <span class="text-green-600"> &#9652; </span>
              <span>Bitter Bites</span>
         </div>
            <div id="logo" class="font-serif text-2xl text-center  lg:text-left"> 
            <h1 class="text-left">Hello</h1>
            <h1>Welcome Back</h1>
         </div>
        
        
            <form class= " flex flex-col font-serif mb-8 left-[500px] w-[80%] space-y-3 text-center ">
                <h1 class=" noobie text-[1em]">Login to manage your account</h1>
                <input class="text-center" placeholder="Username">
                <input  type="password" placeholder="password" class="text-center">
                <a href="" class="text-blue-700 text-[1em] text-left no-underline">Forgot your password ?</a>
                <button class="font-serif rounded-font-bold w-full text-white bg-green-500"  routerLink="/newsc">login</button>
            </form>
        </div>
    </div>
</div>
